.todo-item:hover {
    cursor: pointer;
    background-color: wheat;
}

.todo-item {
    background-color: thistle;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button:hover {
        cursor: pointer;
        background-color: rgb(185, 117, 16);
    }
}
