h1 {
    color: red;
}

.btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}

#minus {
    border: 1px solid blue;
}

#plus {
    border: 1px solid green;
}

#counter {
    margin: 0 16px;  /* vertical=0, horizontal=16px */
    font: 3rem;
}
    
main {
    display: flex;
    align-items: center;
    /* gap: 32px; */
}
